<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartograph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
</head>
<body>
    <div id="missions">

    </div>
    <script>
        $(document).ready(function() {
            var $missions = $('#missions'),
                missionTemplate = _.template($('#mission-template').text());
            $.getJSON('/api/mission/simple').done(function(missions) {
                _.each(missions, function(m) {
                    $missions.append(missionTemplate(m));
                });
            });
        })
    </script>
    <script id="mission-template" type="text/template">
        <div class="mission" data-mission-id="<%- id %>">
            <div>
                <span>Name</span>
                <span><a href="/replay/<%- id %>"><%- name %></a></span>
            </div>
            <div>
                <span>World</span>
                <span><%- worldName %></span>
            </div>
            <div>
                <span>Created</span>
                <span><%- created %></span>
            </div>
        </div>
    </script>
</body>
</html>