<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartograph</title>
    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.css" />-->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <!--<script src="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.js"></script>-->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

    <link rel="stylesheet" href="https://cdn.rawgit.com/ardhi/Leaflet.MousePosition/master/src/L.Control.MousePosition.css">
    <script type="text/javascript" src="https://cdn.rawgit.com/ardhi/Leaflet.MousePosition/master/src/L.Control.MousePosition.js"></script>

    <style type="text/css">
        html, body, #replay-map {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        #replay-controls {
            position: absolute;
            width: 50%;
            height: 30px;
            z-index: 1000000;
            background-color: #fff;
            left: 25%;
            bottom: 30px;
        }

        #details-panel {
            position: absolute;
            width: 300px;
            height: 450px;
            z-index: 1000000;
            background-color: #fff;
            right: 0;
            top: 0;
        }

        .leaflet-control-scale-line {
            box-sizing: border-box;
        }

        .icon {
            position: absolute;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            border: 2px solid blue;
            cursor: pointer;
        }

        .icon.ai {
            border-radius: 0;
        }

        .icon.blufor {
            border-color: blue;
        }
        .icon-info.blufor {
            color: blue;
        }

        .icon.opfor {
            border-color: red;
        }
        .icon-info.opfor {
            color: red;
        }

        .icon.indfor {
            border-color: green;
        }
        .icon-info.indfor {
            color: green;
        }

        .icon.civilian {
            border-color: pink;
        }
        .icon-info.civilian {
            color: pink;
        }

        .icon-info {
            position: absolute;
            top: -5px;
            left: 12px;
            width: 200px;
            font-weight: bold;
            font-size: 14px;
        }

    </style>

    <script id="player-icon-template" type="text/template">
        <div>
            <span class="icon <%- player.side %>"></span>
            <span class="icon-info <%- player.side %>"><%- player.name %></span>
        </div>
    </script>

    <script id="ai-icon-template" type="text/template">
        <div>
            <span class="icon ai <%- movement.side %>"></span>
            <span class="icon-info <%- movement.side %>"><%- movement.aliveCount %></span>
        </div>
    </script>

    <script id="player-details-template" type="text/template">
        <div><%- player.name %></div>
        <div>
            <div>
                <span>Gear class:</span>
                <span><%- player.hullGearClass %></span>
            </div>
            <div>
                <span>Group:</span>
                <span><%- player.groupName %></span>
            </div>
            <div>
                <span>JIP:</span>
                <span><%- player.isJip %></span>
            </div>
            <div>
                <span>Position:</span>
                <span>X: <%- movement.position.x %>, Y: <%- movement.position.y %></span>
            </div>
            <div>
                <span>Vehicle:</span>
                <span><%- movement.vehicle %></span>
            </div>
        </div>
    </script>

</head>
<body>
    <div id="replay-controls">
        <div class="replay-buttons">
            <div id="play-button">Play</div>
            <div id="next-button">Next</div>
            <div id="previous-button">Previous</div>
        </div>
        <div id="replay-bar"></div>
    </div>
    <div id="details-panel"></div>
    <div id="replay-map"></div>

    <script>
        $(document).ready(function() {
            var PLAYER_ICON_TEMPLATE = _.template($('#player-icon-template').html()),
                AI_ICON_TEMPLATE = _.template($('#ai-icon-template').html()),
                PLAYER_DETAILS_TEMPLATE = _.template($('#player-details-template').html());

            function createDetailsPanel() {
                return {
                    $elem: $('#details-panel'),
                    selectedPlayerId: -1
                };
            }

            function createReplayControls() {
                return {
                    $elem: $('#replay-controls')
                };
            }

            function createReplay(replayData) {
                var replay = replayData;
                replay.$elem = $('#replay');
                replay.time = 0;
                replay.speed = 20;
                var maxPlayerTime = maxMovementTime(replay.playerMovements),
                    maxAiTime = maxMovementTime(replay.aiMovements);
                replay.maxTime = maxPlayerTime > maxAiTime ? maxPlayerTime : maxAiTime;
                replay.map = initMap(replay.mission.world);
                replay.playerMarkers = {};
                replay.aiMarkers = {};
                return replay;
            }

            var detailsPanel = createDetailsPanel(),
                replayControls = createReplayControls(),
                replay = {};

            var paths = window.location.pathname.split('/');
            if (paths.length !== 3 && paths[1] === 'replay') return;
            var missionId = paths[2];
            $.getJSON('/api/replay/' + missionId).done(function(replayData) {
                replay = createReplay(replayData);
                window.replay = replay;
                replayTick(replay);
            });

            function replayTick(replay) {
                replay.time += replay.speed;
                if (replay.time > replay.maxTime) {
                    console.log('MISSION END');
                    return;
                }
                processPlayerMovements(replay);
                processAiMovements(replay);
                replay.nextTimeoutId = window.setTimeout(function nextTimeoutTick() {
                    replayTick(replay);
                }, 1000);
            }

            function processPlayerMovements(replay) {
                _(tickMovements(replay, replay.playerMovements))
                    .each(function(m) {
                        var marker = replay.playerMarkers[m.playerId],
                            markerPos = gameToMap(replay.map, [m.position.x, m.position.y]),
                            player = _(replay.players).find(function(p) { return p.id === m.playerId; });
                        if (marker) {
                            marker.setLatLng(markerPos);
                        } else {
                            marker = createPlayerMarker(m, player, markerPos, replay.map);
                            replay.playerMarkers[m.playerId] = marker;
                        }
                        tryUpdateDetailsPanel(m, player);
                    }).value();
            }

            function processAiMovements(replay) {
                _(tickMovements(replay, replay.aiMovements))
                    .each(function(m) {
                        var marker = replay.aiMarkers[m.groupName],
                            markerPos = gameToMap(replay.map, [m.position.x, m.position.y]);
                        if (marker) {
                            marker.setLatLng(markerPos);
                            marker.setIcon(L.divIcon({ iconSize: [16, 16], className: '', html: AI_ICON_TEMPLATE({ movement: m }) }));
                        } else {
                            marker = createAiMarker(m, markerPos, replay.map);
                            replay.aiMarkers[m.groupName] = marker;
                        }
                    }).value();
            }

            function createPlayerMarker(movement, player, position, map) {
                var icon = L.divIcon({ iconSize: [16, 16], className: '', html: PLAYER_ICON_TEMPLATE({ player: player }) });
                var marker = L.marker(position, { icon: icon }).addTo(map);
                marker.player = player;
                marker.on('click', function onMarkerClick(e) {
                    detailsPanel.selectedPlayerId = this.player.id;
                });
                return marker;
            }

            function createAiMarker(movement, position, map) {
                var icon = L.divIcon({ iconSize: [16, 16], className: '', html: AI_ICON_TEMPLATE({ movement: movement }) });
                return L.marker(position, { icon: icon }).addTo(map);
            };

            function tryUpdateDetailsPanel(movement, player) {
                if (player.id !== detailsPanel.selectedPlayerId) return;
                detailsPanel.$elem.html(PLAYER_DETAILS_TEMPLATE({ player: player, movement: movement }));
            }

            function maxMovementTime(movements) {
                return movements.length > 0 ? movements[movements.length - 1].createdIngame : -1;
            }

            // We know that the array is ordered by createdIngame.
            function tickMovements(replay, movements) {
                var previousTime = replay.time - replay.speed;
                return _(movements)
                    .takeWhile(function(m) { return Math.floor(m.createdIngame) <= replay.time; })
                    .dropWhile(function(m) { return Math.floor(m.createdIngame) <= previousTime; })
                    .value();
            }

            // Fastest way to do it, however hard to understand. Going to use a more functional approach.
            /*
            function processTickMovements(replay, movementsTypeIndex, movements) {
                var i = replay[movementsTypeIndex];
                while (i < movements.length && movements[i].createdIngame <= replay.time) {

                    i++;
                }
                replay[movementsTypeIndex] = i;
            }
            */

            function gameToMap(map, position) {
                return map.unproject([position[0], -position[1]], map.getMaxZoom())
            }

            function initMap(world) {
                var map = L.map('replay-map', {
                    minZoom: world.minZoom,
                    maxZoom: world.maxZoom,
                    crs: L.CRS.Simple
                });
                map.setView(gameToMap(map, [world.width / 2, world.height / 2]), map.getMinZoom());
                var mapBounds = new L.LatLngBounds(
                    gameToMap(map, [0, world.height]),
                    gameToMap(map, [world.width, 0])
                );
                map.fitBounds(mapBounds);
                L.tileLayer('/images/map/{w}/{z}/{x}/{y}.png?s=111111', {
                    minZoom: map.getMinZoom(),
                    maxZoom: map.getMaxZoom(),
                    bounds: mapBounds,
                    continuousWorld: true,
                    attribution: '',
                    noWrap: true,
                    tms: true,
                    w: world.name
                }).addTo(map);
                return map;
            }
        })
    </script>
</body>
</html>